@charset "UTF-8";
@font-face {
    font-family:"sushi king";
    src: url("font/sushi_king.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

html{height:100%}
body{
    color:red;
    background-color:black;
    font-family: "sushi king", Arial, Verdana, sans-serif;

}
p{
    color:green;
}

#nav{
    background-color:#ccc
}

.module{
    background-color:#eee;
    box-shadow:10px 10px 10px black;
}

/* combinator type 1: use space to get target tags within other tags */
.left p{
    color:purple;
}

.right h2{
    color:brown;
}

.left h2 span{
    text-decoration:underline;
}

/* combinator type 2: use comma to specify multiple tags */
h1, #footer{
    background-color:yellow;
}

#nav a{
    font-size:32px;
    background-image:url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380__340.jpg);
    display:inline-block;
    padding:100px;
    transition: all 1s;
    border-radius:200px;
    font-family: 'Piedra', cursive;
}

/* pseudoclasses */
#nav a:link, #nav a:visited, #nav a:active{
    color:black
}

#nav a:hover{
    color:red;
    background-position:-150px;
    transition: all 1s;
}